<header>
    <div id="main-title"><a href="/">BEST OLD MOVIES</a></div>
    <div class="btn-group">
        <a href="/" class="btn btn-dark" aria-current="page">Home</a>
        <a href="/movies" class="btn btn-dark" aria-current="page">List</a>
        <a href="/movies/create" class="btn btn-dark">Create</a>
    </div>
</header>
