<header>
    <h1>Dad's Jokes</h1>
    <div>
        <a href="/jokes/list">
            <button class="btn btn-secondary">
                All
            </button>
        </a>
        <a href="/jokes/random">
            <button class="btn btn-secondary">
                Random
            </button>
        </a>
    </div>
</header>