<header>
    <div id="main-title"><a href="/">BEST OLD MOVIES</a></div>
    <div class="btn-group">
        <a href="/" class="btn btn-primary" aria-current="page">Accueil</a>
        <a href="/movies" class="btn btn-primary" aria-current="page">List</a>
    </div>
</header>
